<table>
  <tr>
    <th>Recent Activity</th>
  </tr>
  <!-- <tr><button (click)="this.printItem()">Debug Print</button></tr> -->
  <div *ngFor="let activity of activities">
    <tr>
      <!-- <a routerLink="/detail/{{activity.activityid}}"> -->
      <!-- <a routerLink="/expanded-discussion-view"> -->
      <div class="clicker" (click)="this.printItem(activity.threadid)">
        <td>New {{activity.activitytype}}: {{activity.submitter}} reported a(n) {{activity.pesttype}}</td>
      </div>
    </tr>
  </div>  
</table>
 


<!-- Use with http://localhost:4200/activity_crud_test to test info from database-->

<!-- <table>
  <caption style="font-weight: bold">Recent Activity</caption>
  <tr>
    <th>Activity ID</th>
    <th>Activity Type</th>
    <th>Activity Timestamp</th>
    <th>Report ID</th>
    <th>Pest Name</th>
    <th>Submitter ID</th>
    <th>Submitter </th>
    <th>Pest Description</th>
    <th>Report Text</th>
  </tr>
  <tr *ngFor="let activity of activities">
    <a routerLink="/detail/{{activity.activityid}}">
      <td>{{activity.activityid}}</td>
    </a>
    <td>{{activity.activitytype}}</td>
    <td>{{activity.activityts}}</td>
    <td>{{activity.reportid}}</td>
    <td>{{activity.pestname}}</td>
    <td>{{activity.submitterid}}</td>
    <td>{{activity.submitter}}</td>
    <td>{{activity.pestdescription}}</td>
    <td>{{activity.reporttext}}</td>
  </tr>
</table>
 -->
