/* PestsComponent's private CSS styles */
.pests {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 750px;
}
.pests li {
  position: relative;
  cursor: pointer;
}

.pests li:hover {
  left: .1em;
}

.pests a {
  color: #333;
  text-decoration: none;
  background-color: rgb(226, 204, 204);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.pests a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.pests a:active {
  background-color: #525252;
  color: #fafafa;
}

.pests .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  width: 300px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}