<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="activity-box">
      <div class="currentUser">
        <mat-label id="user_name" name="username" [formControl]="user_name">User: {{this.user_name.value}}</mat-label>
      </div>

      <!-- Activity:
      <mat-list-item class="activity-item">Welcome to Pest Patrol user!</mat-list-item> -->
      <app-activity></app-activity>
    <!-- </mat-nav-list> -->
    
    <!-- <mat-nav-list> <app-filter></app-filter></mat-nav-list> -->
    <!-- Moved Filter component to Forum and map components -->
    
    <!-- <mat-nav-list> -->
      
      <mat-list-item><button class="side-button" routerLink ="/map">Map</button></mat-list-item>
      <!-- <mat-list-item><button class="side-button" routerLink="/dashboard">Dashboard</button></mat-list-item> -->
      <mat-list-item><button class="side-button" routerLink="/forum">Forum</button></mat-list-item>
      <mat-list-item><button class="side-button" routerLink="/filter">Map Filter</button></mat-list-item>
      <mat-list-item><button class="side-button" routerLink="/pest-update">Pest Wiki</button></mat-list-item>
    </mat-nav-list>  
  </mat-sidenav>

  <mat-toolbar color="primary">
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <span>Pest Patrol</span>
      <div class="top-buttons">
        <button mat-button [matMenuTriggerFor]="menu">Select Another User</button>
        <mat-menu #menu="matMenu">
          <button *ngFor="let listItem of this.userList" (click)="this.signInUser(this.listItem)" mat-menu-item>{{this.listItem.username}}</button>
        </mat-menu>
      <mat-list-item><button routerLink="/login">Login</button></mat-list-item>
      <mat-list-item><button routerLink="/register">Register</button></mat-list-item>
      </div>

    </mat-toolbar>

   <!-- The map -->
   <router-outlet></router-outlet>
</mat-sidenav-container>

