<google-map [height]="mapHeight"
            [width]="mapWidth"
            [center]="mapCenter"
            [zoom]="mapZoom"
            [options]="mapOptions"
            (mapClick)="getReportAndSetMarker($event)"
            (mapMousemove)="move($event)">
    <map-marker #marker="mapMarker"
                [options]="markerOptions"
                *ngFor="let position of markerPositions"
                [position]="position"
                (mapClick)="openInfoWindow(marker, position)"
                
                >
            </map-marker>
    <map-info-window class="infoWindow">
        <div id="content">
            <div id="siteNotice">
            </div>
            <h1 id="firstHeading" class="firstHeading">Cowabunga</h1>
            <div id="bodyContent">
                <div class="stTitle">
                    <a routerLink="/expanded-discussion-view" class="stTitleLink"><h3>Possible Splinter sighting!</h3></a>
                </div>
                <div class="stPestImage">
                    <br>
                    <img src="./assets/Incident_Report_Images/PestImage_Field_Mouse.PNG"  alt="Icon Image" class="stPestImageFormats">
                </div>

                <div class="stDescription">
                    <br>
                    <span>Pest Reported on: {{markerInfoContent}}</span>
                </div>
            </div>
        </div>


    </map-info-window>

<!-- <div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div> -->
</google-map>




    


<!-- <mat-list-item><button  class="btn btn-primary" (click)="openDialog()">Report</button></mat-list-item> -->