<!-- <div class="google_map_container">
    <google-map 
        [height]="mapHeight" 
        [width]="mapWidth" 
        [zoom]="mapZoom" 
        [center]="mapCenter" 
        [options]="mapOptions"
        (mapClick)="addMarker($event, markerOptions)"
    >

        <map-marker
            #marker="mapMarker"
            [position]="mapCenter"
            [options]="markerOptions"
            (mapClick)="openInfoWindow(marker)"
        >
        </map-marker>
        <map-info-window>{{ markerInfoContent }}</map-info-window>
    </google-map>
</div> -->

<google-map [height]="mapHeight"
            [width]="mapWidth"
            [center]="center"
            [zoom]="zoom"
            [options]="mapOptions"
            (mapClick)="addInvisibleMarker($event, markerOptions)"
            >
  <map-marker #marker="mapMarker"
              *ngFor="let markerPosition of markerPositions"
  
              [position]="markerPosition"
              [options]="markerOptions"
              (mapClick)="openInfoWindow(marker)">
  </map-marker>

              <map-info-window>{{ markerInfoContent }}</map-info-window>
              
              
</google-map>




    


<!-- <mat-list-item><button  class="btn btn-primary" (click)="openDialog()">Report</button></mat-list-item> -->