<!-- <div class="card text-center m-3">
    <h5 class="card-header">POST request with strongly typed response</h5>
    <div class="card-body">
        pestId: {{pestObj.pestId}}
    </div>
</div>


<div *ngIf="pest">
<h2>{{pest.name | uppercase}} Details</h2>
<div><span>id: </span>{{pest.id}}</div>
<div>
    <label for="pest-name">Pest name: </label>
    <input id="pest-name" [(ngModel)]="pest.name" placeholder="Pest name"/>
</div>
<button type="button" (click)="goBack()">Go Back</button>
<button type="button" (click)="save()">Save</button>
</div> -->