<div class="summaryThreadContainer">
    <div class="summaryThread">
        <div class="stIncidentIcon">
            <img src="../../assets/Incident_Report_Images/Incident_Coyote.png"  alt="Icon Image" class="stImageFormats">
        </div>
        <div class="stPestImage">
            <img src="../../assets/Incident_Report_Images/PestImage_Coyote.PNG"  alt="Icon Image" class="stPestImageFormats">
        </div>
        <div class="stTitle">
            <a routerLink="/expanded-discussion-view" class="stTitleLink">Thread title goes here...</a>
        </div>
        <div class="stDescription">
            Issue description goes here...
        </div>
    </div>
    <button (click)="printItem(1)">Test It!</button>
</div>


