.tf1 {
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family: Arial, 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    color: black;
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #009933;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #009933;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.summaryThreadContainer {
    height: 1200px;
    width: 1230px;
    /*border-color: black;*/
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #009933;
    float: left;
    overflow: auto;
}

.summaryThread {
    height: 175px;
    width: 1198px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: #98d7ad;
    float: center;
    position: relative;
    font-size: 15px;
    margin-bottom: 6px;
    margin-left: 5px;
    margin-top: 5px;
}

.shadow {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.stIncidentIcon {
    height:173px;
    width:100px;
    float:left;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.stPestImage {
    height:173px;
    width:250px;
    float:left;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.stTitle {
    float:left;
    border-style: solid;
    border-color: black;
    border-width: thin;
    /* height: 41px; */
    height: 25%;
    width: 846px;
    padding-top: 4px;
}

.stDescription {
    font: cambria;
    font-size:16px;
    color: black;
    float:left;
    border-style: solid;
    border-color: black;
    border-width: thin;
    /* height: 41px; */
    height: 25%;
    width: 846px;
    padding: 5px;
}

.stActivity {
    font: cambria;
    color: black;
    float:left;
    border-style: solid;
    border-color: black;
    border-width: thin;
    /* height: 41px; */
    height: 25%;
    width: 423px;
    padding-top: 4px;
    text-align: left;
    padding: 5px;
}

.stRating {
    font: cambria;
    float:left;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: thin;
    /* height: 41px; */
    height: 25%;
    width: 423px;
    padding-top: 4px;
    text-align: right;
    padding-right: 5px;
}

.stVerification {
    float:left;
    border-style: solid;
    border-color: black;
    border-width: thin;
    /* height: 41px; */
    height: 25%;
    width: 169px;
    /* padding-top: 4px; */
}

.stV_label {
    width: 55%;
    height: 100%;
    padding-top: 10px;
    padding-left: 5px;
    float: left;
    /* border-style: solid;
    border-color: black;
    border-width: thin; */
}

.stV_slider {
    width: 45%;
    height: 100%;
    float: left;
    padding-top: 3px;
    padding-left: 6%;
    /* border-style: solid;
    border-color: black;
    border-width: thin; */
}

.stUserInfo {
    font: cambria;
    float:left;
    color: black;
    text-align: right;
    padding-right: 5px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    /* height: 41px; */
    height: 25%;
    width: 677px;
    padding-top: 4px;
}

.stTitleLink {
    font-size:16px;
    font-weight: bold;
    padding: 5px;
}

.menuButton {
    border:2px solid #000000;
    width: 250px;
    border-radius:0px;
    padding:10px;
    /* margin:10px; */
    background-color:#2E2E2E;
    color:#00e64d;
    font-weight:bold;
    opacity:1;
    transition:1s;
    }
    
.menuButton:hover {
    cursor:pointer; 
    background-color: grey;
    /*opacity:0.75;*/
    transition:0.5s;
    color:#00e64d;
}

 .stImageFormats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width:90px;
    height:144px;
} 

.stPestImageFormats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:160px;
    width:235px;
    margin-top:2%;
    border-style: solid;
    border-color: black;
    border-width: thin;
} 

.tab4 {
    tab-size: 4;
    display: inline-block;
    margin-left: 20px;
}

.std_font {
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    color: black;
}
/* * {
    margin: 0;
    padding: 0;
} */
