<div class="footer fhTextFormats shadow">
    <app-filter (filterSelectedChanged)="onRadioButtonChanged($event)"></app-filter>
</div>
<div class="summaryThreadContainer">
    <div *ngFor="let summaryThread_Prev of summaryThreadList" class="summaryThread shadow tag">
        <div class="stIncidentIcon">
            <img src={{this.imgPathDefault}} alt="Icon Image" class="stImageFormats">
        </div>
        <div class="stPestImage">
            <img src={{summaryThread_Prev.pestimage}} onerror="this.onerror=null; src=this.imgPathDefault" alt="Image Path" class="stPestImageFormats">
        </div>
        <div *ngIf="this.summaryThread_Prev.threadid === null || this.summaryThread_Prev.threadid === ''; else dispThreadInfo">
            <div class="stDNE defaultContainerFormats">
                <span class="tf1_Light">Reported by 
                    <span class="tf1_hl" (click)="this.openUserInfoCard(this.summaryThread_Prev.submitterid, this.summaryThread_Prev.reportsubmitterusername)">
                        {{summaryThread_Prev.reportsubmitterusername}}</span>
                    on: {{summaryThread_Prev.repcreationdate}}</span><br>
                <br><span class="tf1_Light">Incident report currently contains no discussion threads.</span><br>
                <br><span class="tf1_Light">Click below to create new discussion thread.</span><br>
                <button class="replyButtonOT2 tf1" (click)="this.openThreadCreationWindow(summaryThread_Prev.reportid)">Create Thread</button>
            </div>
        </div>
        <ng-template #dispThreadInfo>
            <div class="stTitle">
                <!-- <a routerLink="/expanded-discussion-view" class="stTitleLink" (click)="this.sendSelectedIndex(summaryThread_Prev.threadid)">{{summaryThread_Prev.subject}} [<span attr.id="{{summaryThread_Prev.threadid}}">{{this.stlIndex}}</span>] </a> -->
                <a routerLink="/expanded-discussion-view" class="stTitleLink" (click)="this.sendSelectedIndex(summaryThread_Prev.threadid)">{{summaryThread_Prev.subject}}</a>
            </div>
            <div class="stDescription">
                <span>{{summaryThread_Prev.comment}}</span>
                <!-- <button class="menuButton" (click)="this.testIt(summaryThread_Prev.threadid)">Index</button> -->
            </div>
            <div class="stActivity">
                <span>Responses: {{summaryThread_Prev.response_count}}</span>
            </div>
            <div class="stRating">
                <span>Positive Feedback: {{summaryThread_Prev.total_positive}} <span class="tab4"></span>Quality Rating: 
                    {{(summaryThread_Prev.total_positive / (summaryThread_Prev.record_count)) * 100 | number:'1.0-0'}}%</span>
            </div>
            <div class="stVerification">
                    <div id="index" class="stV_label tf1">
                        Following: 
                    </div>
                    <div class="stV_slider">
                        <label class="switch">
                            <input type="checkbox" onchange="console.log(this.checked)">
                            <span class="slider round"></span>
                        </label>
                    </div>
            </div>
            <div class="stUserInfo">
                <span>Submitted by: <span class="tf1_hl" (click)="this.openUserInfoCard(this.summaryThread_Prev.creatorid, this.summaryThread_Prev.username)">
                    {{summaryThread_Prev.username}}</span>
                     on {{summaryThread_Prev.createdate}}</span>
            </div>
        </ng-template>
        {{this.incrementIndex()}}
    </div>
    <!-- </div> -->
    {{this.resetIndex()}}
</div>
<div class="footer fhTextFormats shadow">
</div>
<button (click)="this.printItem()">Debug Print</button>
