<div class="Container_Main">
    <div class="originalThread shadow">
        <div class="stPestImage">
            <img src={{this.getReceivedThreadItem().imagepath}} alt="Pest Icon" class="stPestImageFormats">
        </div>
        <div class="stTitle p1">
            <span class="head1">{{this.getReceivedThreadItem().subject}}</span>
        </div>
        <div class="stDescription p1">
            <span class="p1">{{this.getReceivedThreadItem().comment}}</span>
        </div>
        <div class="feedback p1">
            <img src="../assets/form_controls/Icon_Thumbs_Up_Gray.png" class="fcfeedback" alt="uVote">
            <img src="../assets/form_controls/Icon_Thumbs_Down_Gray.png" class="fcfeedback" alt="dVote">
            <img src="../assets/form_controls/Icon_Pest_Info.png" class="fcfeedbackbutton" alt="pestInfo" (click)="this.doSomething()">
            <button class="replyButtonOT p2" (click)="this.generateResponseInputWindow()">Reply</button>
        </div>
        <div class="stMeta p1">
            <span class="p1">Positive Feedback: {{this.getReceivedThreadItem().total_positive}}</span><span class="tab4"></span>
            <span class="p1">Quality Rating: {{(this.getReceivedThreadItem().total_positive / (this.getReceivedThreadItem().record_count)) * 100 | number:'1.0-0'}}%</span><span class="tab4"></span>
            <span class="p1">Submitted By: {{this.getReceivedThreadItem().creatorid}} on {{this.getReceivedThreadItem().createdate}}</span>
        </div>
    </div>
    <div class="repliesH p1 shadow defaultP">
        Replies
    </div>
    <div *ngFor="let response of getResponsesList() | slice:1" class="responseContainer shadow defaultP">
        <div class="response p1">
            <span class="p1">{{response.comment}}</span>
        </div>
        <div class="feedback2 p2">
            <img src="../assets/form_controls/Icon_Thumbs_Up_Gray.png" class="fcfeedback" alt="uVote">
            <img src="../assets/form_controls/Icon_Thumbs_Down_Gray.png" class="fcfeedback" alt="dVote">
            <span class="p1">Positive Feedback: --</span><span class="tab4"></span>
            <span class="p1">Quality Rating: --</span><span class="tab4"></span>
            <span class="p1">Submitted By: {{this.response.userid}} on {{this.response.createdate}}</span>
        </div>
        <div class="reply">
            <button class="replyButton p2" (click)="this.generateResponseInputWindow()">Reply</button>
        </div>
    </div>

    <!-- New Response -->
    <div *ngIf="showTextInput">
        <div class="responseContainer shadow defaultP">
            <div class="response p1">
                <textarea id="textInput" class="responseInput2 p2" rows="3" name="userResponse" [formControl]="textInput"></textarea>
            </div>
            <div class="feedback2 p2"></div>
            <div class="reply">
                <button class="replyButton p2" (click)="this.sendNewResponse(this.textInput.value)">Post</button>
            </div>
        </div>
    </div>

</div>
<div class="footer p1 shadow defaultP">
    <button class="returnToForumButton p2" routerLink="/forum">Return</button>
</div>

<p>expanded-discussion-view works!</p>
<p>{{this.receivedThreadID}}</p>
<p>id from object: {{this.getReceivedThreadItem().threadid}}</p>
<p>object subject: {{this.getReceivedThreadItem().subject}}</p>
<mat-list-item><button (click)="printResponse()">Print Response</button></mat-list-item>