.Container_Main {
    height: 1000px;
    width: 1200px;
    /*border-color: black;*/
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #009933;

    float: left;
}

.summaryThread {
    height: 175px;
    width: 1198px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: #8fc7a2;
    float: center;
    position: relative;
    font-size: 15px;
}

.stIncidentIcon {
    height:173px;
    width:100px;
    float:left;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.stPestImage {
    height:173px;
    width:250px;
    float:left;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.stTitle {
    font: cambria;
    float:left;
    border-style: solid;
    border-color: black;
    border-width: thin;
    height: 41px;
    width: 846px;
}

.stTitleLink {
    font-size:16px;
    font-weight: bold;
    padding: 5px;
}

.stDescription {
    font: cambria;
    font-size:16px;
    color: black;
    float:left;
    border-style: solid;
    border-color: black;
    border-width: thin;
    height: 41px;
    width: 846px;
    padding: 5px;
}

.menuButton {
    border:2px solid #000000;
    width: 250px;
    border-radius:0px;
    padding:10px;
    /* margin:10px; */
    background-color:#2E2E2E;
    color:#3AE83A;
    font-weight:bold;
    opacity:1;
    transition:1s;
    }
    
.menuButton:hover {
    cursor:pointer; 
    background-color: grey;
    /*opacity:0.75;*/
    transition:0.5s;
    color:#3AE83A;
}

 .stImageFormats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width:90px;
    height:144px;
} 

.stPestImageFormats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:160px;
    width:235px;
    margin-top:2%;
    border-style: solid;
    border-color: black;
    border-width: thin;
} 