.Container_Main {
    height: 1200px;
    width: 1230px;
    /*border-color: black;*/
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #009933;
    float: left;
    overflow: auto;
}

.originalThread {
    height: auto;
    min-height: 312px;
    width: 99.5%;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: #8fc7a2;
    float: center;
    position: relative;
    font-size: 15px;
}

.stPestImage {
    height:300px;
    width:300px;
    float:left;
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin-left: 5px;
    margin-top: 5px;
}

.stTitle {
    font: cambria;
    float:left;
    border-style: solid;
    border-color: black;
    border-width: thin;
    height: auto;
    min-height: 41px;
    width: 850px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    color: black;
}

.stDescription {
    font: cambria;
    font-size:16px;
    color: black;
    float:left;
    border-style: solid;
    border-color: black;
    border-width: thin;
    height: auto;
    min-height: 160px;
    width: 850px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.menuButton {
    border:2px solid #000000;
    width: 250px;
    border-radius:0px;
    padding:10px;
    /* margin:10px; */
    background-color:#2E2E2E;
    color:#3AE83A;
    font-weight:bold;
    opacity:1;
    transition:1s;
    }
    
.menuButton:hover {
    cursor:pointer; 
    background-color: grey;
    /*opacity:0.75;*/
    transition:0.5s;
    color:#3AE83A;
}

 .stImageFormats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width:90px;
    height:144px;
} 

.stPestImageFormats {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    height:100%;
    width:100%;
    /* margin-top:2%;
    border-style: solid;
    border-color: black;
    border-width: thin; */
} 