<form>
    <label for="PestID">Pest ID</label><br>
    <input type="text" id="PestID" name="id" size="50" #id>
    <mat-list-item><button (click)="getPestID(id.value)">Search</button></mat-list-item><br><br>
    
    <label for="PestName">Pest Name</label><br>
    <input type="text" id="pname" name="pname" value={{pest.pestname}} size="50"><br><br>
    <label for="PestType">Pest Type</label><br>
    <input type="text" id="ptype" name="ptype" value={{pest.pesttype}} size="50"><br><br>
    <label for="Severity">Severity</label><br>
    <input type="text" id="severity" name="severity" value={{pest.severity}} size="50"><br><br>
    <label for="Pest Description">Pest Description</label><br>
    <input type="text" id="pdesc" name="pdesc" value={{pest.pestdescription}} size="50"><br><br>
</form>
